<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Cedro</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" routerLink="">Home</a>
        <a class="mdl-navigation__link" routerLink="/restaurantes">Restaurantes</a>
        <a class="mdl-navigation__link" routerLink="/pratos">Pratos</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Cedro</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" routerLink="">Home</a>
        <a class="mdl-navigation__link" routerLink="/restaurantes">Restaurantes</a>
        <a class="mdl-navigation__link" routerLink="/pratos">Pratos</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
